<footer class="bg-dark text-white pt-3 pb-2 mt-5">
    <div class="container text-center text-md-start">
      <div class="row">
        <div class="col-md-4">
          <h5>Giri's Tech Hub</h5>
          <p>Your one-stop solution for learning technology with ease and confidence.</p>
        </div>
  
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white text-decoration-none">Home</a></li>
            <li><a href="/viewCourse" class="text-white text-decoration-none">Courses</a></li>
            <li><a href="/viewStudent" class="text-white text-decoration-none">Student</a></li>
          </ul>
        </div>
  
        <div class="col-md-4">
          <h5>Connect</h5>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
  
      <div class="text-center border-top pt-2">
        &copy; 2025 Giri's Tech Hub. All rights reserved.
      </div>
    </div>
  </footer>
  
  <!-- Font Awesome (for social icons) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"></script>
  